@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
 *{
    box-sizing: border-box;
 }
 .container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
 }
 body{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    font-weight: 400;
 }
 a{
    font-family: 'Raleway', sans-serif;
 }
 .header{
    padding-top: 50px;
 }
 .header-nav{
    display: flex;
    justify-content: space-between;
 }
 .navbar{
    display: flex;
 }
.navbar-list{
    display: flex;
    list-style-type: none;
    margin-right: 160px;
}
.navbar-item-link{
    width: 34px;
    height: 12px;
    font-size: 10px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    margin-right: 40px;
}
.navbar-link{
    width: 130px;
    height: 40px;
    font-weight: 800;
    font-size: 10px;
    background-color: #4285F4;
    color: white;
    padding: 14px 35px;
    border-radius: 5px;
    text-decoration: none;
}
.section0{
    padding-top: 100px;
}
.header-section-heading{
    width: 497px;
    height: 108px;
    font-size: 44px;
    font-weight: 700;
    /* margin: 0;   */
}
.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-section-text{
    width: 375px;
    height: 36px;
    font-size: 12px;
    font-weight: 400;
    color: #616161;
    line-height: 16px;
    letter-spacing: 1px;
    margin-bottom: 34px;
}
.number{
    width: 654px;
    height: 117px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 200px;
    border-radius: 16px;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
}
.number h5{
    width: 50px;
    height: 43px;
    color: #EC5863;
    font-weight: 700;
    font-size: 36px;
    margin: 0;
}
.number p{
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 3px;

}
.header-section-link{
    width: 144px;
    height: 40px;
    background-color: #EC5863;
    font-weight: 800;
    font-size: 10px;
    text-decoration: none;
    color: white;
    padding: 14px 29px;
    border-radius: 5px; 
}
.header-video{
    width: 228px;
    height: 44px;
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.header-video-icon{
    margin-right: 12px;
}
.header-video-text{
    width: 172px;
    height: 16px;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 8%;
    margin: 0;
    color: #B0B0B0;
}
.header-video-text2{
    width: 73px;
    height: 11px;
    font-weight: 400;
    font-size: 9px;
    letter-spacing: 16.5%;
    line-height: 11.34px;
    margin: 0;
    margin-top: 5px;
}
/* main sections */
.main-section1{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 79px 0 ;
}
.main-section1-heading{
    width: 379px;
    height: 108px;
    font-size: 44px ;
    margin: 0;
}
.main-section1-text{
    width: 363px;
    height: 54px;
    font-size: 12px;
    letter-spacing: 8%;
    color: #616161;
    line-height: 16.62px;
}
.main-section1-link{
    width: 86px;
    height: 12px;
    font-weight: 800;
    font-size: 10px;
    letter-spacing: 14%;
    text-decoration: none;
    color: white;
    padding: 10px 29px;
    background-color: #EC5863;
    border-radius: 5px;
}
.main-section2{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}
.main-section2-heading{
    width: 393px;
    height: 53px;
    font-weight: 700;
    font-size: 44px;
}
.main-section2-text{
    width: 363px;
    height: 52px;
    color: #616161;
    font-size: 12px;
}
.main-section-link{
    width: 86px;
    height: 12px;
    font-weight: 800;
    font-size: 10px;
    letter-spacing: 14%;
    text-decoration: none;
    color: white;
    padding: 10px 29px;
    background-color: #EC5863;
    border-radius: 5px;
}
.footer-list{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.footer-item{
    padding: 36px 25px;
    list-style-type: none;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    text-align: center;
    border-radius: 8px;
    /* text-align: center; */
}
.footer-sec{
    margin-left: 200px;
}
.footer-heading{
    width: 769px;
    height: 55px;
    font-weight: 700;
    font-size: 44px;
    margin: 0;
    margin-left: 20px;
}
.footer-text{
    width: 710px;
    height: 52px;
    font-size: 12;
    letter-spacing: 0.5px;
    color: #616161;
    text-align: center;
}
.footer-list-heading{
    width: 227px;
    height: 24px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.footer-list-text{
    width: 227px;
    height: 45px;
    font-size: 12px;
    font-weight: 400;
    color: #616161;
    
}
.footer-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.apple-icon{
    margin-left: 50px;
}